{% extends 'base.html' %}
{% block title %}Edit post{% endblock %}
{% block content %}
<h1>Edit {{ post.user.first_name}}'s post</h1>
<form action="" method = POST>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" value = "{{ post.title}}" autofocus="autofocus" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input type="text" class="form-control" name="content" value ="{{ post.content }}" required>
    </div>
    <button class="btn btn-success">Confirm</button>
    <button class="btn btn-secondary">Cancel</button>
    <button class="btn btn-danger" formaction="/posts/{{ post.id }}/delete" formmethod="POST">Delete
    </button>
</form>

{% endblock %}