{% extends 'base.html' %}
{% block title %}New post{% endblock %}
{% block content %}
<h1>Add new post</h1>
<form action="" method = POST>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" placeholder="title" autofocus="autofocus" required>
      </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input type="text-box" class="form-control" name="content" placeholder="" required>
    </div>
    <!-- tag selection -->
    <h6>Add tags</h6>
    {% for t in tags: %}    
        <div class="form-check">
            <input type="checkbox" 
            class="form-check-input" 
            value="{{ t.id}}" 
            id="tag_{{ t.id }}"
            name="tags">
            <label for="tag_{{ t.id }}">{{ t.name }}</label>
        </div>
    {% endfor %}
    <!-- buttons -->
    <button class="btn btn-success ms-4 mt-3">Submit</button>
    <a href="/" class="btn btn-primary ms-4 mt-3" style="width:5rem; margin:0 auto">Home</a>
</form>

{% endblock %}