{% extends 'base.html' %}
{% block title %}User info{% endblock %}
{% block content %}

<div class="card m-auto" style="width: 20rem;">
    <img src = {{user.image_url}} class="card-img-top m-auto mt-2" style="width:90%" alt= "{{user.full_name}}'s pic" >
    <div class="card-body">
        <h3 class="text-center">{{ user.full_name}}</h3>
        <p class="card-text">
            <ul style="list-style-type:none">
                <li> <a href="#">Blogs</a></li>
                    <ul style="list-style-type:square; font-size:0.85rem">
                        {% for p in posts: %}
                        <li>{{p.short_date}} <a href='/posts/{{ p.id }}'> {{ p.title }} </a></li>
                        {% endfor %}
                    </ul>
                <li> <a href="#">Comments</a></li>
                <li> <a href="#">Followers</a></li>
            </ul>
        </p>
        <form>
        
            <a href="/" class="btn btn-primary ms-4" style="width:5rem; margin:0 auto">Home</a>
        
            <a href="/users/{{ user.id }}/edit" class="btn btn-success" style="width:5rem; margin:0 auto">Edit</a>
            
            <a href="/users/{{ user.id }}/posts/new" class="btn btn-secondary">Add Post</a>
            
        
            <!-- <button class="btn btn-danger" style="width:5rem; margin:0 auto" formaction="/users/{{ user.id }}/delete"
            formmethod="POST">Delete</button> -->

        </form>
    </div>
</div>

{% endblock %}